# ============ 项目特定 ============
# 注意：如果是符号链接，不要带 note/ 斜杠
note

# ============ 忽略编译产物 ============
target/

# ============ 忽略 IDEA 配置 ============
.idea/

# ============ 忽略 VSCODE 配置 ===========
.vscode/

