# ============ 项目特定 ============
note/                       # 符号连接目录

# ============ 忽略 IDEA 配置 ============
.idea/

# ============ 忽略 VSCODE 配置 ===========
.vscode/

# ============ 忽略编译产物 ============
target/